

.jsbox-main-panel.no-select{
    user-select: none;
    cursor: ew-resize;
}
body,html{
    margin: 0;
    width: 100%;
}
html *{
    box-sizing: border-box;
}
.jsbox-tool-w i{
    font-size: 20px;
    color: #444;
    margin: 0 8px;
    cursor: pointer;
    display: inline-block;
    transition: all .1s linear;
}
.log-panel, .code-panel{
    height: 100%;
    width:50%;
    float: left;
    overflow: hidden;
    border-top: 1px solid #ddd;
}
.log-panel {
    border-left: 1px solid #ddd;
    background-color: #fff;
    position: relative;
    padding-left:4px;
}
.log-log,.log-html{
    width: 100%;
    height: 100%;
    display: inline-block;
}
.log-log{
    overflow:auto;
}
.log-log.log-half{
    width: 50%;
}
.log-log.log-hide{
    display: none;
}
.log-html{
    width: 50%;
    background-color: #f6f6f6;
    display:none;
    position: relative;
}
.log-content{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 10px;
}
.log-html.log-half{
    display: inline-block;
}
.log-html.log-full{
    width: 100%;
    display: inline-block;
}
.log-html > i{
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: rgba(255,255,255,.5);
    font-size: 20px;
    padding: 0 3px;
    border-radius: 2px;
    cursor: pointer;
}
.drag-bar{
    position: absolute;
    left: 0;
    height: 100%;
    width: 4px;
    background-color: #ddd; /* 浏览器不支持时显示 */
    background-image: linear-gradient(#ddd, #8f95d7, #ddd);
    cursor: ew-resize;
    box-shadow: 0 0 5px 0 #444;
}
.j-code{
    border: none!important;
}
.j-code,.code_set_w{
    border-radius: 0;
}
.j-code,.code_editor,.code_editor_view{
    min-width: auto!important;
    left: 0px!important;
}
.tc-log-list{
    font-family: Consolas, Lucida Console, monospace;
    font-size: 16px;
}
.tc-log-block{
    word-break: break-all;
}
.tc-log-block-hide span{
    left: -1.4px!important;
    font-size: 14px!important;
}
.tc-log-funcs {
    position: fixed!important;
    top: 6px;
    right: 0;
    bottom: auto!important;
    left: auto!important;
}
.tc-log-func{
    line-height: 17px!important;
}
.tc-log-func.tc-log-clear {
    line-height: 14px!important;
}

@media (min-width: 600px){
    .jsbox-tool-w i:hover{
        color: #000;
        transform: scale(1.3);
    }
}
@media (max-width: 600px){
    .jsbox-tool-w{
        overflow-x: auto;
        white-space: nowrap;
    }
    .log-panel, .code-panel{
        height: 50%;
        width: 100%!important;
        float: none;
    }
    .tc-log-funcs {
        top: auto!important;
        bottom: 6px!important;
    }
    .log-panel{
        padding-left:0;
    }
    .drag-bar{
        display:none;
    }
}
.jsbox-tool-w i:active{
    color: #6b1616;
    transform: scale(1.1);
}